@using System;
@using System.Collections.Generic;
@using System.Linq;
@model List<Wedding>
<body>
    <h1>Welcome to Dojo Activity Center!</h1>
    <a href = "/add/activity">Add Activity</a> 
    <a href = "/logout">Logout</a> 

    @foreach (var w in Model)
    {
        @if(w.WeddingDate >= DateTime.Today && w.Time >= DateTime.Now)
        {
        <p><a href = "/view/@w.WeddingId">@w.WeddingTitle </a> Date: @w.WeddingDate.ToString("MMMM dd") at @w.Time.ToString("h:mm tt")
         | Duration: @w.Duration @w.TimeType | Event Coordinator: @w.CreatorName | Participants: @w.Guests.Count | 
            Action:
            @if(@w.UserId == @ViewBag.UserId)
            {
                <a href="/delete/@w.WeddingId">Delete</a>
            }else{
                @if(w.Guests.Any (g => g.UserId == @ViewBag.UserId))
                {
                    <a href="/leave/wedding/@w.WeddingId">Leave</a>
                }else
                {
                    <a href="/join/wedding/@w.WeddingId">Join</a> 
                }
            }
            
        </p>
        }

    }
    
</body>